<!-- <img src="../.././assets/img/wp5722075.png" id="sfondo"> -->

<!-- <img src="../.././assets/img/wp5722075.png" id="sfondo"> -->

<div class="welcome">

  <img src="../.././assets/img/wp5722075.png" id="sfondo">
  <!-- <h1>Complimenti {{utente}}</h1> -->
<br><br><br><br><br>
  <h2>{{nomeUtente}} {{cognomeUtente}} </h2>
  <h2>COMPLIMENTI!! SEI MAGGIORENNE</h2>

  
  <p>Ciao {{nomeUtente}} clicca <a routerLink="/prodotti">qui</a> per vedere l'elenco dei prodotti</p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <!-- <img id="congrats" src="../../assets/img/OIP.png" alt=""> -->




</div>